<%= form_with(model: downloaded_file, local: true) do |form| %>
  <% if downloaded_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(downloaded_file.errors.count, "error") %> prohibited this downloaded_file from being saved:</h2>

      <ul>
        <% downloaded_file.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :file %>
    <%= form.text_field :file %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
