<p>
  <strong>Title:</strong>
  <%= @faq.title %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @faq.filename %>
</p>

<% if @faq.file.attached? %>
  <a class="btn btn-info" href="<%= url_for(@faq.file) %>" target="_blank">Open File</a>
<% end %>
<br><br>

<%= link_to 'Edit', edit_faq_path(@faq), :class => "btn btn-primary" %>
<%= link_to 'Back', downloads_path, :class => "btn btn-secondary" %>
