<h1>
  Downloaded Files
  <%= link_to 'Download as Excel', downloaded_files_path(format: :xlsx), :class => "btn btn-info" %>
</h1>
<table class="table">
  <thead>
    <tr>
      <th>Downloaded At</th>
      <th>Name</th>
      <th>Company</th>
      <th>Email</th>
      <th>File</th>
    </tr>
  </thead>

  <tbody>
    <% @downloaded_files.each do |downloaded_file| %>
      <tr>
        <td><%= downloaded_file.created_at %></td>
        <td><%= downloaded_file.name %></td>
        <td><%= downloaded_file.company %></td>
        <td><%= downloaded_file.email %></td>
        <td><%= downloaded_file.file %></td>
      </tr>
    <% end %>
  </tbody>
</table>