<h1>
  Messages
  <%= link_to 'Download as Excel', messages_path(format: :xlsx), :class => "btn btn-info" %>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Sent At</th>
      <th>Name</th>
      <th>Company</th>
      <th>Email</th>
      <th>Concerning</th>
      <th>Message</th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
    <% puts message %>
      <tr>
        <td><%= message.created_at %></td>
        <td><%= message.name %></td>
        <td><%= message.company %></td>
        <td><%= message.email %></td>
        <td><%= message.concerning %></td>
        <td><%= message.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>