<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for your message! Here is the summary:</p>
    <br>
    <p>Name: <%= @message.name %></p>
    <p>Company: <%= @message.company %></p>
    <p>Email: <%= @message.email %></p>
    <p>Concerning: <%= @message.concerning %></p>
    <p>Message: <%= @message.message %></p>
  </body>
</html>