
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @downloaded_file.name %> downloaded a file!</p>
    <p>
    --------------------------
    </p>
    <p>Name: <%= @downloaded_file.name %></p>
    <p>Company: <%= @downloaded_file.company %></p>
    <p>Email: <%= @downloaded_file.email %></p>
    <p>File: <%= @downloaded_file.file %></p>
  </body>
</html>