<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @message.name %> sent you a message!</p>
    <p>
    --------------------------
    </p>
    <p>Name: <%= @message.name %></p>
    <p>Company: <%= @message.company %></p>
    <p>Email: <%= @message.email %></p>
    <p>Message: <%= @message.message %></p>
  </body>
</html>