<p>
  <strong>Name:</strong>
  <%= @testimonial.name %>
</p>

<p>
  <strong>From:</strong>
  <%= @testimonial.from %>
</p>

<p>
  <strong>Testimonial:</strong>
  <%= @testimonial.testimonial %>
</p>

<p>
  <strong>Date:</strong>
  <%= @testimonial.date %>
</p>

<%= link_to 'Edit', edit_testimonial_path(@testimonial), :class => "btn btn-primary" %>
<%= link_to 'Back', testimonials_path, :class => "btn btn-secondary" %>
